{% comment %} <span class="add-to-wishlist wishlist-icon" id="wishlist-{{ product.id }}">
      <i class="fa-regular fa-heart" style="color: #ffffff;"></i> &nbsp;
      <p class="wishlist-text">Add to wishlist</p>
</span> {% endcomment %}
{% comment %} <div> {% endcomment %}
{% comment %} <button class="wishlist-icon" id="wishlist-{{ product.id }}">
    <i class="fa-regular fa-heart"></i>
  </button>
</div> {% endcomment %}

