{{ 'footer-section.css' | asset_url | stylesheet_tag }}
<footer>
  <div class="pay2">
    {% if section.settings.pay_image2 != blank %}
      <img src="{{ section.settings.pay_image2 | img_url: 'master' }}" alt="Payment Options Image 2">
    {% endif %}
  </div>
  <div class="rights">
    {{ section.settings.rights_text | escape }}
  </div>
  <div class="pay">
    {% if section.settings.pay_image != blank %}
      <img src="{{ section.settings.pay_image | img_url: 'master' }}" alt="Payment Options Image">
    {% endif %}
  </div>
</footer>

{% if template == 'index' %}
<!-- Tabbed section -->
<div class="tab-container">
 <div class="tab-icons">
  <button class="tablink" onclick="openPage('Account', this)">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
    </svg>
  </button>
  <button class="tablink" onclick="openPage('Search', this)">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
    </svg>
  </button>
 </div>

  <div id="Account" class="tabcontent">
    <div class="sub">
      <a href="/account" class="button">LOG IN</a>
      <p class="under"><a href="/account">Or create an account</a></p>
      <p class="text">We're here to help <nobr>0161 872 2363</nobr></p>
      <p class="under"><a href="mailto:customerservice@loft.co.uk">customerservice@loft.co.uk</a></p>
    </div>
  </div>

  <div id="Search" class="tabcontent">
    <div class="search-box">
      <input type="text" name="search" class="Search" placeholder="Search">
    </div>
</div>



<!-- JavaScript to toggle tabs -->
<script>
function openPage(pageName, elmnt) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  
  // Toggle display for the clicked tabcontent
  var page = document.getElementById(pageName);
  if (page.style.display === "block") {
    page.style.display = "none";
  } else {
    // Hide all tabcontents
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    
    // Display the selected tabcontent
    page.style.display = "block";
  }
}

// Hide all tabcontents initially
var tabcontents = document.getElementsByClassName("tabcontent");
for (var i = 0; i < tabcontents.length; i++) {
  tabcontents[i].style.display = "none";
}
</script>
{% endif %}

{% schema %}
    {
      "name": "Footer Information",
      "settings": [
        {
          "type": "text",
          "id": "rights_text",
          "label": "Rights Text",
          "default": "© 2024 LOFT Powered by Shopify"
        },
        {
          "type": "image_picker",
          "id": "pay_image",
          "label": "Payment Options Image"
        },
        {
          "type": "image_picker",
          "id": "pay_image2",
          "label": "Alternate Payment Options Image"
        }
      ],
      "presets": [
        {
          "name": "Footer Information",
          "category": "Footer"
        }
      ]
    }
    {% endschema %}