.about {
    text-align: center;
    width: 100%;
}

.about .cont {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 25px;
    max-width: 800px; /* Limit maximum width */
    text-align: center;
    margin: 70px auto;
}

.about .cont h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #343434;
}

.about .cont p {
    font-size: 15px;
    color: #6a6969;
    line-height: 25px;
    font-weight: 500;
}

button{
    padding: 1rem 2.5rem;
}

@media (max-width: 1200px) {
    .about .cont h1 {
        font-size: 2rem;
    }

    .about .cont p {
        font-size: 14px;
        line-height: 24px;
    }
}

@media (max-width: 992px) {
    .about .cont {
        padding: 0 2rem;
    }

    .about .cont h1 {
        font-size: 1.8rem;
    }

    .about .cont p {
        font-size: 13px;
        line-height: 22px;
    }
}

@media (max-width: 768px) {
    .about .cont h1 {
        font-size: 1.6rem;
    }

    .about .cont p {
        font-size: 12px;
        line-height: 20px;
    }
}

@media (max-width: 576px) {
    .about .cont h1 {
        font-size: 1.4rem;
    }

    .about .cont p {
        font-size: 11px;
        line-height: 18px;
    }
}

@media (max-width: 300px){
    .about .cont h1 {
        word-wrap: break-word;
    }
}