.about {
    text-align: center;
    width: 100%;
     /* padding: 0 20px;  */
}

.about .cont {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 25px;
    max-width: 800px; /* Limit maximum width */
    text-align: center;
    margin: 70px auto;
}

.about .cont h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #343434;
}

.about .cont p {
    font-size: 15px;
    color: #6a6969;
    line-height: 25px;
    font-weight: 500;
}

@media (max-width: 1200px) {
    .about .cont h1 {
        font-size: 2rem;
    }

    .about .cont p {
        font-size: 14px;
        line-height: 24px;
    }
}

@media (max-width: 992px) {
    .about .cont {
        padding: 0 10px;
    }

    .about .cont h1 {
        font-size: 1.8rem;
    }

    .about .cont p {
        font-size: 13px;
        line-height: 22px;
    }
}

@media (max-width: 768px) {
    .about .cont h1 {
        font-size: 1.6rem;
    }

    .about .cont p {
        font-size: 12px;
        line-height: 20px;
    }
}

@media (max-width: 576px) {
    .about .cont h1 {
        font-size: 1.4rem;
    }

    .about .cont p {
        font-size: 11px;
        line-height: 18px;
    }
}


/* @media only screen and (min-width: 1900px){
    .about .cont{
        padding: 0 42rem;
    }
    .about .cont h1{
        font-size: 2.3rem;
    }
}
@media only screen and (min-width: 1200px){
    .about .cont{
        padding: 0 23rem;
    }
}
@media only screen and (min-width: 960px){
    .about .cont{
        padding: 0 15rem;
    }
}
@media only screen and (min-width: 770px){
    .about .cont{
        padding: 0 6.7rem;
    }
} */