.collections-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 10px 0;
  overflow: hidden;
}

.collections-slider .swiper-wrapper {
  display: flex;
  align-items: center;
}

.collections-slider .content {
  display: flex;
  align-items: center;
  text-align: start; /* Center text alignment for wrapping */
  gap: 10px;
  padding: 10px; /* Optional padding for better look */
}

.collections-slider .content img {
  width: 35px; /* Adjust the width of the images */
}

.collections-slider .content a {
  text-decoration: none;
  line-height: 1.5; /* Adjust line-height for better readability */
  font-weight: 450;
  word-wrap: break-word; /* Ensure text wraps */
  white-space: normal; /* Allow text to wrap */
  color: black;
}

.collections-slider .content a span {
  font-weight: bold;
}

/* Swiper-specific styling */
.swiper-container {
  width: 100%; /* Ensure full width */
  padding-top: 20px;
  padding-bottom: 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; /* Allow the slide width to adjust automatically */
}

@media (max-width: 576px) {
  .collections-slider .content {
    padding: 5px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .collections-slider .content {
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .collections-slider .content {
    padding: 15px;
  }
}
