
.collections-slider{
    display: flex;
    justify-content: center;
    gap: 10rem;
    
    /* background-color: #F1F1F1; */
    height: 88px;
    align-items: center;
}
.collections-slider .content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 15rem;
}
.collections-slider .content a{
    text-decoration: none;
    /* color: black; */
    line-height: 17px;
    font-weight: 450;
}
.collections-slider .content a span{
    font-weight: bold;
}
.top .protect a{
   padding-top: 20px;
}

/* @media (max-width: 700px) {
  .collections-slider {
    flex-direction: column;
    gap: 20px;
  }

  .collections-slider .content {
    flex-direction: column;
  }
} */
/* @media only screen and (min-width: 770px){
  .collections-slider{
    gap: 4rem;
  }
  .collections-slider .content a{
    font-size: 0.9rem;
  }
} */

