.sorting {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    border-bottom: 1px solid rgb(229, 229, 229);
    height: 3rem;
    margin-bottom: 2.7rem;
    font-weight: 500;
    flex-wrap: wrap;
}

.sorting > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    padding: 0 10px;
}

.sort{
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  padding: 0.5rem;
  padding-right: 2rem;
  overflow: auto;
  border: 1px solid rgb(229, 229, 229);
  border-top: none;
  z-index: 1;
  transform: translate(-60%, 3.3%);
  box-sizing: border-box;
  width: auto;
  min-width: fit-content;
  max-width: 100%; /* Optional: ensures it doesn't exceed the parent container */
  white-space: nowrap; /* Optional: keeps the content in one line */
}

.dropdown-content a {
  color: rgb(119, 118, 118);
  padding: 12px 16px;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-color: black;
    text-decoration-thickness: 1px;
}

/* .dropdown a:hover {background-color: #ddd;} */

.show {display: block;}

.sort-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sort-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sort-dropdown a:hover {
    background-color: #f1f1f1;
}

.sort {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.sort.open #sortDropdown {
    display: block;
} 

.sort.open #sortIcon {
    transform: rotate(180deg);
}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 0 5rem;
}

.grid .grid-container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
}

.grid .grid-container .top {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.grid .grid-container .top .sale {
    box-sizing: border-box;
    width: auto;
    min-width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    height: 1.3rem;
    background-color: red;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0 0.2rem;
}

.grid .grid-container .top i {
    margin-top: 1rem;
}

.grid .grid-container .image {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
}

.grid .grid-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s;
}

.grid-container .image-container .f-image {
    opacity: 1;
}

.grid-container .image-container .f2-image {
    opacity: 0;
}

.grid-container .image-container:hover .f-image {
    opacity: 0;
}

.grid-container .image-container:hover .f2-image {
    opacity: 1;
}

.grid .grid-container .details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.grid .grid-container .details .head {
    font-size: 1rem;
    font-weight: bolder;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.grid .grid-container .details p {
    font-size: 0.9rem;
    color: red;
    font-weight: 500;
    margin: 0 !important;
}

.grid .grid-container .details p span {
    text-decoration: line-through;
    color: rgb(144, 143, 143);
    font-size: 0.8rem;
}

.seperator{
  border-bottom: 1px solid #dad9d9;
}

.product-form__options {
  border: 1px solid rgb(228, 227, 227); 
  border-width: 1px; 
  padding: 15px;
  margin-bottom: 20px;
}

.product-form__swatch {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 8px;
}

.variant{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.variant-title {
  font-weight: bold;
  margin: 0;
  margin-bottom: 2px;
}

.swatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.swatch input[type="radio"] {
  display: none;
}

.swatch-image {
  width: 50px;
  height: 50px;
  background-size: 80%; /* Adjust this value as needed to fit within the padding */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid transparent;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}


.swatch-name {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(96, 95, 95);
  text-align: center;
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: 450;
}

.swatch:hover .swatch-image {
  border-color: #959494;
  border-width: 1px;
}

.swatch input[type="radio"]:checked + .swatch-image {
  border-color: #000000;
  border-width: 2px;
}

.swatch input[type="radio"]:checked + .swatch-image + .swatch-name {
  display: block;
  color: black;
}

.product-form__button-options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.button-option {
  display: inline-block;
}

.button-option input[type="radio"] {
  display: none;
}

.button-label {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid black;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  color: black;
}

.button-option input[type="radio"]:checked + .button-label {
  border: 2px solid rgb(0, 0, 0);
}

.button-option:hover .button-label {
  background-color: #d6d6d6;
  border-color: #959494;
}
  

.add-to-cart-form {
    display: flex;
  }
  
  .add-to-cart-button {
    width: 100%;
    color: #000000;
    border: 1px solid rgb(188, 186, 186);
    background: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    margin-top: auto;
    height: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  
  .add-to-cart-button span {
    display: inline-block;
    position: relative;
    transition: transform 0.5s;
  }
  
  .add-to-cart-button::before {
    content: "Add to Cart";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    transition: transform 0.5s;
    transform: translateY(100%);
  } 
  
  .add-to-cart-button:hover span {
    transform: translateY(-500%);
  }
  
  .add-to-cart-button:hover::before {
    transform: translateY(-100%);
  }

.paging {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.paging .page-links {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.paging p, .paging a {
    margin-top: 0;
    color: rgb(50, 50, 50);
}

.paging .current {
    font-weight: bold;
}

.paging .left, .paging .right {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 50%;
    color: rgb(100, 100, 100);
    transition: background-color 0.3s;
}

.paging .right {
    border-color: rgb(50, 50, 50);
}

.paging .right:hover {
    background-color: rgb(50, 50, 50);
}

.paging .left.disabled, .paging .right.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.paging .left.disabled i, .paging .right.disabled i {
    color: rgb(202, 200, 200);
}

.paging .left a, .paging .right a {
    color: inherit;
    text-decoration: none;
}

.paging a {
    text-decoration: none;
}

@media (max-width: 840px){
    .sorting{
        gap: 1rem;
        height: auto;
        overflow: hidden;
        padding-bottom: 1rem;
    }
    .grid{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }
}

@media (max-width: 576px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
        padding: 1.5rem;
        /* gap: 10px; */
    }
}

@media (max-width: 455px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
        padding: 1.5rem;
    }
}

@media (max-width: 390px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
        padding: 1.5rem;
    }
}