.sign {
    width: 100%;
    height: auto;
    /* height: 150px; */
    padding: 1rem;
    align-content: center;
    /* padding-bottom: 0; */
    margin-bottom: 5rem;
    margin: 90px auto;
}
.sign .container {
    width: 800px;
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    /* height: 100px; */
    height: auto;
    padding: 1rem;
    gap: 22px;
}
.sign .container .desc {
    /* width: 380px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}
.sign .container .desc .cont {
    /* color: rgb(89, 89, 89); */
    font-size: 0.9rem;
}
.sign .container .embn {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px;
}
.sign .container .embn input {
    /* width: 12rem; */
    width: 50%;
    height: 52px;
    padding-left: 15px;
    font-size: 0.9rem;
    border: none;
}
.sign .container .embn span {
    /* width: 12rem; */
    width: 50%;
    height: 52px;
    font-size: medium;
    align-content: center;
    /* background-color: rgb(48, 48, 48); */
    /* color: white; */
    border: none;
    text-align: center;
}
.sign .container .embn span a{
    text-decoration: none;
}
.sign .container .embn span:hover {
    background-color: rgb(96, 95, 95);
}

@media (max-width: 720px){
    .sign{
        text-align: center;
    }
    .sign .container{
        width: 100%;
        flex-wrap: wrap;
        text-align: center;   
    }
    .sign .container .desc{
        width: 100%;
    }
    .sign .container .embn{
        width: 100%;
    }
}