.sign {
    width: 100%;
    height: auto;
    padding: 1rem;
    align-content: center;
    margin-bottom: 5rem;
    margin: 90px auto;
}
.sign .container {
    width: 800px;
    margin: 0 auto;
    display: flex;
    height: auto;
    padding: 1rem;
    gap: 22px;
}
.sign .container .desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}
.sign .container .desc .cont {
    font-size: 0.9rem;
}
.sign .container .embn {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px;
}
.sign .container .embn input {
    width: 50%;
    height: 52px;
    padding-left: 15px;
    font-size: 0.9rem;
    border: none;
    display: block; 
}
.sign .container .embn span {
    width: 50%;
    height: 52px;
    font-size: medium;
    align-content: center;
    border: none;
    text-align: center;
}
.sign .container .embn span a{
    text-decoration: none;
}
.sign .container .embn span:hover {
    background-color: rgb(96, 95, 95);
}

@media (max-width: 720px){
    .sign{
        text-align: center;
    }
    .sign .container{
        width: 100%;
        flex-wrap: wrap;
        text-align: center;   
    }
    .sign .container .desc{
        width: 100%;
    }
    .sign .container .embn{
        width: 100%;
    }
    .sign .container .embn input {
        width: 50%;
        display: block; 
    }
}