<h1>{{ page.title }}</h1>
<div class="shipping">
    <div class="shipping_content">
      <p class="p1">Shipping Policy</p>
      <p class="p2">General Shipping Information</p>
      <p class="p3">Loft aims to deliver items promptly and within specified timeframes. However, please note that delivery dates are approximate. We rely on third-party shipping contracts, and any delivery delays are beyond our control. AspenClean is not liable for any losses or expenses caused by such delays.</p>
      <p class="p4">Free Shipping</p>
      <p class="p5">Shipping is automatically free for all orders over $70 (after all discounts). Orders are still subject to a 1-3 business day processing time.</p>
      <p class="p6">Where do we ship?</p>
      <p class="p7">Our products can be shipped to every state in the US as well as all across Canada.</p>
    </div>
</div>

<style>
  .shipping{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shipping_content{
    width: 480px;
  }
  h1{
    text-align: center;
    margin: 20px auto;
  }
  .p1{
    font-weight: bold;
  }
  .p2,.p4,.p6{
    text-decoration: underline;
  }
  p{
    color: rgb(101, 99, 99);
  }
</style>